:root{
  --wheat:#e6dfc5;
  --blue:#709f9e;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

::selection {
  background: var(--wheat);
  color: black;
}


*{
  margin: 0;
  padding: 0;
}

html,body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family:serif;
}

.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom,#f5deb3, #2d2d2d); 
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.home-container {
  width: 90%;
  min-height: 100%;
  background: linear-gradient(to left, #a4906a, #2d2d2d);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px 20px;
  color: white;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  transition: 0.7s ease;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  font-family: 'Dosis';
  margin-left: auto;
  transition: 0.7s ease;

}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  box-shadow: 0 0 8px #000, 0 0 16px #000;
  transition: width 0.4s ease;
  opacity: 0.8;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar li.left-item {
  margin-right: auto;
}

.navbar .left-item a::after {
  background-color: #fff;
}

.navbar li.left-item a {
  font-weight: 600;
  font-size: 20px;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.left-box {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}
.left-box-content{
  width: 100%;
  height: 100%;
  margin: 100px;
}

.title{
  font-family: "Lora", serif;
  font-size: 30px;
  color: #fff;
}

h3{
    font-size: 36px;
    color:var(--blue);
}
span{
  color:var(--blue);
}


.left-box-content .talent p {
  color: var(--blue);
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  color: var(--wheat);
  margin-top: 10px;
}

.left-box-content .buttons {
  gap: 20px;
  display: flex;
}

.left-box-content .buttons button{
  background: transparent;
  color: var(--wheat);
  border: 0.5px solid white;
  padding: 10px 20px;
  margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  transition: background 0.3s ease, color 0.3s ease, scale 0.3s ease;
}

.left-box-content .buttons button:hover {
  background: linear-gradient(to left, #f5deb3, #796c52);
  color: #000;
  border: none;
  scale: 1.1;
}

.right-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fancy-img {
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.7));
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  width: 60%;
  display: block;
  border-radius: 8px;
  user-select: none;
}

.logo img:hover {
  transform: scale(1.05);
}

/* About Page */

.about-section {
  width: 100%;
  min-height: 100vh;
  background: #1e1e1ef8;
}

.about-section header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.about-wrapper {
  max-width: 900px;
  font-family: 'Lora', serif;
}

.about-wrapper h2 {
  font-size: 48px;
  color: var(--blue);
  margin-bottom: 24px;
}

.about-wrapper p {
  font-size: 20px;
  line-height: 1.8;
  color: var(--wheat);
}

.about-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.about-content h2 {
  font-family: 'Lora', serif;
  font-size: 30px;
  color: var(--blue);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  margin-top: 40px;
}

.flip-card {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  perspective: 1000px;
  overflow: hidden;
  font-family:serif;
}

.flip-inner {
  background-color: #e6dfc5a3;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-front img {
  height: 100px;
}

.flip-back {
  background-color: var(--blue);
  color:white;
  transform: rotateY(180deg);
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
}
.flip-back p{
    color:white;

}
.full-width-card {
  margin: 60px;
  padding: 40px 20px;
  background-color: #292929;
  border-radius: 12px;
  font-family: 'Lora', serif;
  box-shadow: 0 0 3px rgba(144, 127, 127, 0.3);
  text-align: center;
}

.full-width-card p {
  font-size: 18px;
  line-height: 1.8;
  margin: 10px 0 auto auto;
}


/* Contact Section */

.contact-section {
  height: 100vh;
  background-color: #1e1e1e;
  padding: 60px 20px;
  font-family: 'Lora', serif;
  text-align: center;

}

.contact-wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

.contact-wrapper h2 {
  font-size: 48px;
  color: var(--blue);
}



.contact-items {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-item {
  background-color: #2d2d2d;
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition:  0.3s linear;
  max-width: 450px;
  width: 100%;
}

.contact-item:hover {
  scale:1.1;
}

.contact-item .icon {
  width: 30px;
  height: 30px;
}

.contact-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-item a,
.contact-item span {
  color:var(--wheat);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
  word-break: break-word;
}

.contact-item a:hover {
  color: #fff;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 992px) {
  .content {
    flex-direction: column;
  }

  
  .left-box,
  .right-box {
    width: 100%;
  }

  .left-box-content .title h2 {
    text-align: center;
  }

  .left-box-content .talent p,
  .left-box-content .description p {
    text-align: center;
    font-size: 40px;
  }
  .button {
    font-size: 40px;
  }
  
  .about-wrapper{
    width: 100%;
    margin-top: 30px;
  
  }

  .left-box-content .buttons {
    justify-content: center;
  }
  
  

  .left-box-content .buttons button {
    margin-left: 10px;
    font-size: 30px;
    margin-right: 10px;
  }

  .fancy-img {
    width: 90%;
  }

  .cards-grid {
    grid-template-columns: 1fr !important;
    padding: 60px 20px;
  }
  .contact-item{
    width: 80%;
  }

}

